<section class="my-5">
    <div class="container bcontent">

        <!-- <div class="card w-full">
            <div class="card-body">
                <h2 class="card-title">Author name</h2>
                <p class="card-text mb-2">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text mb-2">supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text mb-2">text below as a natural lead-in to additional content.</p>
            </div>
        </div> -->



        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Author name - {{authorId}}</h2>
                    <p class="card-text mb-2">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text mb-2">supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>




    </div>
</section>
