<section class="">
    <div class="main-search-input border-2 border-green-600">
        <div class="main-search-input-item">
            <input type="text" placeholder="What are you looking for?" value="">
        </div>

        <div class="main-search-input-item">
            <select data-placeholder="All Categories" class="chosen-select">
                <option>Authors</option>
                <option>Books</option>
            </select>
        </div>
        <button class="button">Search</button>
    </div>
</section>


<section class="">
    <div class="container bcontent">

        <div class="card mb-5">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img class="card-img" src="https://picsum.photos/350/350" alt="Suresh Dasari Card">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h2 class="card-title">Card title</h2>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Author : <small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img class="card-img" src="https://picsum.photos/350/350" alt="Suresh Dasari Card">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h2 class="card-title">Card title</h2>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Author : <small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-5">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img class="card-img" src="https://picsum.photos/350/350" alt="Suresh Dasari Card">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h2 class="card-title">Card title</h2>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Author : <small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img class="card-img" src="https://picsum.photos/350/350" alt="Suresh Dasari Card">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h2 class="card-title">Card title</h2>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Author : <small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
