<!--<app-search></app-search>
<app-login></app-login>-->


<header class="px-5 py-3">
    <a routerLink="">
        <h1>Library</h1>
    </a>

    <nav>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
        <a routerLink="/search" routerLinkActive="active">Search</a>
        <a [routerLink]="['/books', 6]" routerLinkActive="active">book(6)</a>

        <a routerLink="/author-profile" routerLinkActive="active">Author</a>
        <a routerLink="/author-profile/add-book" routerLinkActive="active">Add book</a>
        <a routerLink="/author-profile/my-book-list" routerLinkActive="active">My books</a>

        <a routerLink="/admin/authors" routerLinkActive="active">Admin books</a>
        <a routerLink="/admin/books" routerLinkActive="active">Admin authors</a>
    </nav>
</header>

<router-outlet></router-outlet>


<footer class="bg-gray-200 h-2/5 p-8">Copyright © 2021. All Rights Reserved</footer>

