nav {
    font-size: 18px;
    float: right;
}
nav a {
    color: #1446b7;
    margin: 13px 15px;
    display: inline-block;
    font-weight: bold;
}


nav a:hover {
    text-decoration: none;
    color: #195ffd;
    margin: 13px 15px;
    display: inline-block;
    font-weight: bold;
}