
<nav>
    <a *ngIf="!loggedIn" routerLink="/login" routerLinkActive="active">Login</a>
    <a *ngIf="!loggedIn" routerLink="/register" routerLinkActive="active">Register</a>
    <a *ngIf="!loggedIn" routerLink="/search" routerLinkActive="active">Search</a>

    <a *ngIf="loggedIn && userRole=='teacher'" routerLink="/author/my-profile" routerLinkActive="active">My profile</a>
    <a *ngIf="loggedIn && userRole=='admin'" routerLink="/admin/my-profile" routerLinkActive="active">My profile</a>

    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
    <span *ngIf="loggedIn" class="ml-3 text-xl py-3 px-1 font-semibold text-gray-400">
        {{userEmail}} <small class="">({{userRole}})</small></span>

</nav>





