



<section>
    <div class="grid lg:grid-cols-3 gap-3 w-3/4 m-auto">
        <div>
            <button (click)="showMyProfile()"
                    class="btn bg-gray-500 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [ngClass]="profile_btn_status ? 'active' : ''"
            >My profile</button>
        </div>

        <div>
            <button (click)="showAuthors()"
                    class="btn bg-gray-400 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [ngClass]="authors_btn_status ? 'active' : ''"
            >Authors</button>
        </div>
        <div>
            <button (click)="showBooks()"
                    class="btn bg-gray-400 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [ngClass]="books_btn_status ? 'active' : ''"
            >Books</button>
        </div>

    </div>

    <div class="min-h-screen-half w-3/4 mx-auto p-5">
        <router-outlet></router-outlet>
    </div>


</section>

