<section>
    <div class="grid lg:grid-cols-3 gap-3 w-3/4 m-auto">
        <div>
            <button routerLink="/admin/my-profile"
                    class="btn bg-gray-500 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [routerLinkActive]="['active']"
            >My profile</button>
        </div>

        <div>
            <button routerLink="/admin/authors"
                    class="btn bg-gray-400 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [routerLinkActive]="['active']"
            >Authors</button>
        </div>
        <div>
            <button routerLink="/admin/books"
                    class="btn bg-gray-400 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [routerLinkActive]="['active']"
            >Books</button>
        </div>

    </div>

    <div class="min-h-screen-half w-3/4 mx-auto p-5">
        <router-outlet></router-outlet>
    </div>


</section>

