<section>
    <div class="grid lg:grid-cols-3 gap-3 w-3/4 m-auto">
        <div>
            <button class="btn bg-gray-500 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [routerLinkActive]="['active']"
                    routerLink="/author/my-profile"
            >My profile</button>
        </div>
        <div>
            <button class="btn bg-gray-500 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [routerLinkActive]="['active']"
                    routerLink="/author/my-books"
            >My books</button>
        </div>
        <div>
            <button class="btn bg-gray-500 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [routerLinkActive]="['active']"
                    routerLink="/author/add-book"
            >Add a book</button>
        </div>
    </div>

    <div class="min-h-screen-half w-3/4 mx-auto p-5">
        <router-outlet></router-outlet>
    </div>
</section>

