<section>
    <div class="grid lg:grid-cols-3 gap-3 w-3/4 m-auto">
        <div>
            <button (click)="showMyProfile()"
                    class="btn bg-gray-500 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [ngClass]="profile_btn_status ? 'active' : ''"
            >My profile</button>
        </div>
        <div>
            <button (click)="showMyBooks()"
                    class="btn bg-gray-500 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [ngClass]="book_btn_status ? 'active' : ''"
            >My books</button>
        </div>
        <div>
            <button (click)="showAddBook()"
                    class="btn bg-gray-500 font-semibold p-2.5 mt-2 rounded-md text-center text-white w-full"
                    [ngClass]="add_book_btn_status ? 'active' : ''"
            >Add a book</button>
        </div>
    </div>

    <div class="min-h-screen-half w-3/4 mx-auto p-5">
        <router-outlet></router-outlet>
    </div>


</section>

